@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@import "tailwindcss";

@theme{
    --font-Rubik: Rubik, sans-serif;
}

.topImg{
    background-image: url(background1.jpg);
}
Nav.Link{
  color: white !important;
}